@(items: Item, user: models.users.User, error: String)
@AdminPages.adminMain("Admin Update Item", user) {
    <div class="m-header scene_element scene_element--fadein">
        <div class="row">
            <h1 class="page-header" style="text-align: center">Update Item: @items.getTitle</h1>
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-body">
                        @if(error != null) {
                            <div class="alert alert-warning">
                                <strong>@error</strong>
                            </div>
                        }
                        <form method="post" action="@routes.AdminController.updateItemSubmit()" class="form-horizontal" enctype="multipart/form-data">
                            <label id="label" class="control-label">Item Name:</label>
                            <input type="text" name="title" class="form-control" value="@items.getTitle" required/>

                            <label id="label" class="control-label">Cost: </label>
                            <input type="number" name="cost" class="form-control" value="@items.getCost" required/>

                            <label id="label" class="control-label">Description:</label>
                            <input type="text" name="description" class="form-control" value="@items.getDescription" required/>

                            <label id="label" class="control-label">Category:</label>
                            <select name="catagory" class="form-control" required>
                                <option value="">Select</option>
                                <option value="Group Fitness Offers">Group Fitness Offers</option>
                                <option value="Personal Training Packages">Personal Training Packages</option>
                                <option value="Corporate Packages">Corporate Packages</option>
                                <option value="Other">Other</option>
                            </select>
                            <input type="hidden" name="id" class="form-control" value="@items.getItemId" required/>


                            <div class="span7 text-center">
                                <input type="submit" value="Update Item" class="btn btn-lg btn-primary">
                            </div>
                        </form>
                        <div class="span7 text-center">
                            <button class="btn btn-lg btn-warning" onclick="goBack()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
            function confirmDel() {
                return confirm('Are you sure?');
            }
    </script>
}
    <!--Created by Evan-->